*.root
UniverseMaker/univmake
NTupleProcessing/ProcessNTuples
Plotting/Slice_Plots
Unfolding/Unfolder

.DS_Store
stv_root_dict_rdict.pcm
*.o
*~

# Ignore files used by clangd indexing
compile_commands.json
.cache
